﻿@page
@model Kockblog.Pages.BlogEntryModel
@{
    ViewData["Title"] = "BlogEntry";
}

<h1>@Model.blog.Title</h1>
<div>
    @Model.blog.Content
</div>
<div>
    <p>Created at: @Model.blog.DateOfCreation</p>
    @if (Model.blog.DateOfLastEdit != Model.blog.DateOfCreation)
    {
        <p>LastEdit at: @Model.blog.DateOfLastEdit</p>
    }
</div>
@if (Model.blog.Tags != null)
{
<div>
    Tags: @Model.blog.Tags
</div>
}
